<!DOCTYPE html>

<html lang="en" ng-app="myApp">


	<head>
	  <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<link rel="stylesheet" href="Rad/examples/css/bootstrap.css"/>
	  <link rel="stylesheet" href="Rad/examples/css/radian.css"/>
	  <link rel="stylesheet" href="Rad/examples/css/app.css"/>
	  <link rel="stylesheet" href="Rad/examples/css/hljs.css"/>
	  <!--<link href="Rad/slider/css/bootstrap-slider.css" rel="stylesheet">-->

	  <script>
	  var dataDict = {};
	  var nomX=[];
	  var Y=[];
	  
			function readTextFile(){
				var xhttp = new XMLHttpRequest();
				xhttp.open("GET", "data/puechabon/X_par_heure.csv", true);
				
				xhttp.onreadystatechange = function (){
					if(xhttp.readyState === 4){
							var data = xhttp.responseText;
							var allTextLines = data.match(/[^(\r\n|\t)]+/g);
							var D="";
							for(i=0;i<12;i++){
								for(j=1;j<=48;j++){
									if (!dataDict[allTextLines[(i*49)]]) {
										dataDict[allTextLines[(i*49)]] = [];
									}
									dataDict[allTextLines[(i*49)]].push(allTextLines[((i)*49)+j]);
								}
								nomX.push(allTextLines[(i*49)]);
							}
					EQ(dataDict,nomX);
					}
				}
				xhttp.send(null);
				return Y ;
			}
		
		
			function EQ(Donnee,nomX) {
				
				for (i=0;i<48 ;i++) {
					var dataA=[];
					for (j=1;j<nomX.length;j++) {		
								dataA.push(Donnee[nomX[j]][i]);	
					}
						Y.push({ 'y' : 0.5000152+0.0033572*dataA[0]+0.0455421*dataA[1]+(-0.0006398)*dataA[2]+(-0.0036218)*dataA[3]+(-0.0456083)*dataA[4]+0.0257086*dataA[5]+(-0.0199913)*dataA[6]+0.00894 *dataA[7]+(-0.0004025)*dataA[8] +(-0.01239)*dataA[9]+1.5134258*dataA[10] })  ;
 				}	
 				console.log(Y)
				
				document.getElementById("test").innerHTML = Y;
				return Y ;
			}

			
			
			function le_graph() {

				var chart = new CanvasJS.Chart("chartContainer", {
					animationEnabled: true,
					theme: "light2",
					title:{
						text: "Simple Line Chart"
					},
					data: [{        
						type: "line",       
						dataPoints: Y}]
				});

				chart.render();


				}

			
		</script>
		
	</head>

	<body onload="readTextFile();le_graph()">


	<div class="container text-center">
		<div class="form-inline">
			<label>X1</label>
			<input type="range" min=0 max=10 step=0.01 ng-model="X1" ng-init="X1=1">
				<br>
	 
			<label>X2</label>
			<input  id="Slide2" type="range" min=0 max=10 step=0.01 ng-model="X2" ng-init="X2=5">
	  
			<input id="ex8" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
		
		</div>
	</div>
		
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

	<div>
	 <p id="test"></p>
	</div>



	<script src="Rad/examples/lib/jquery.js"></script>
	  <script src="Rad/examples/lib/jquery.csv.js"></script>
	  <script src="Rad/examples/lib/hljs.js"></script>
	  <script src="Rad/examples/lib/bootstrap.js"></script>
	  <script src="Rad/bootstrap-slider.js"></script>
	  <script src="Rad/examples/lib/escodegen.browser.js"></script>
	  <script src="Rad/examples/lib/d3.v2.js"></script>
	  <script src="Rad/examples/lib/angular/angular.js"></script>
	  <script src="Rad/examples/js/app.js"></script>
	  <script src="Rad/examples/js/radian.js"></script>
	  
	  <script>
			$("#ex8").slider({
					tooltip: 'always'
				});
		</script>

	</body>

</html>