<!DOCTYPE html>

<html lang="en" ng-app="myApp">


<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="Rad/examples/css/bootstrap.css"/>
  <link rel="stylesheet" href="Rad/examples/css/radian.css"/>
  <link rel="stylesheet" href="Rad/examples/css/app.css"/>
  <link rel="stylesheet" href="Rad/examples/css/hljs.css"/>
  <link href="Rad/slider/css/bootstrap-slider.css" rel="stylesheet">

</head>

<body>  


    <div class="container text-center">
  <div class="form-inline">
  <label>X1</label>
  <input type="range" min=0 max=10 step=0.01 ng-model="X1" ng-init="X1=1">
  <br>
 
  <label>X2</label>
  <input  id="Slide2" type="range" min=0 max=10 step=0.01 ng-model="X2" ng-init="X2=5">
  
  <input id="ex8" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
</div>

	

<plot height=300 aspect=3 stroke-width=2 stroke="red">
  <lines x="[[seq(0,23.5,47)]]" y="[[normal(x,X1,X2)]]"/>
</plot>

</div>	



<script src="Rad/examples/lib/jquery.js"></script>
  <script src="Rad/examples/lib/jquery.csv.js"></script>
  <script src="Rad/examples/lib/hljs.js"></script>
  <script src="Rad/examples/lib/bootstrap.js"></script>
  <script src="Rad/bootstrap-slider.js"></script>
  <script src="Rad/examples/lib/escodegen.browser.js"></script>
  <script src="Rad/examples/lib/d3.v2.js"></script>
  <script src="Rad/examples/lib/angular/angular.js"></script>
  <script src="Rad/examples/js/app.js"></script>
  <script src="Rad/examples/js/radian.js"></script>
  
  <script>
  		$("#ex8").slider({
				tooltip: 'always'
			});
	</script>

</body>

</html>